@model TinyShop.Models.ProductGroup

@{
    ViewData[ "Title" ] = "Deletion of the group";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Are you sure you want to delete the group?</h4>
<div class="alert alert-danger" role="alert">
    WARNING! All products of the group will be deleted!
</div> 

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor( model => model.Name )
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor( model => model.Name )
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index">Back to the list</a>
    </form>
</div>
