@model TinyShop.Models.ProductGroup

@{
    ViewData["Title"] = "Опис групи";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Опис групи</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Змінити</a> |
    <a asp-action="Index">Назад до списку</a>
</div>
