@{
    ViewData[ "Title" ] = "Control panel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Control panel</h4>

<div class="container-table" id="contable">
    <div class="row vertical-middle text-center">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">

            <div class="card-columns">

                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">List of products</h5>
                        <p class="card-text">Creation, editing, deletion of products</p>
                        <a href="@Url.Action( "Index", "Products" )" class="btn btn-primary">Open</a>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">List of groups</h5>
                        <p class="card-text">Creation, editing, deletion of groups</p>
                        <a href="@Url.Action( "Index", "ProductGroups" )" class="btn btn-primary">Open</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>