@{
    ViewData[ "Title" ] = "Адмінка";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Адмінка</h4>

<div class="container-table" id="contable">
    <div class="row vertical-middle text-center">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">

            <div class="card-columns">

                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Список товарів</h5>
                        <p class="card-text">Створення, редагування, видалення товарів</p>
                        <a href="@Url.Action( "Index", "Products" )" class="btn btn-primary">Відкрити</a>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Список груп</h5>
                        <p class="card-text">Створення, редагування, видалення груп</p>
                        <a href="@Url.Action( "Index", "ProductGroups" )" class="btn btn-primary">Відкрити</a>
                    </div>
                </div>

            </div>
        </div>
</div>