@model TinyShop.Models.ViewModels.ProductViewModel;

@{
    ViewData["Title"] = "NewId product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Новий товар</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductPrice" class="control-label"></label>
                <input asp-for="ProductPrice" class="form-control" />
                <span asp-validation-for="ProductPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductGroupId" class="control-label"></label>
                <select asp-for="ProductGroupId" class="form-control" 
                asp-items='@new SelectList(Model.ProductGroups, "Id", "Name")'></select>
            </div>
            <div class="form-group">
                <label asp-for="ProductDescription" class="control-label"></label>
                <textarea asp-for="ProductDescription" class="form-control" rows="16"></textarea>
                <span asp-validation-for="ProductDescription" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="uploadPhotos" class="btn btn-info">Додати фотографії</label>
                <input type="file" id="uploadPhotos" class="form-control" name="uploadPhotos"
                    style="display:none" multiple accept="image/*">
            </div>

            <div class="form-group">
                <label class="control-label">Photo 1</label>
                <input type="file" class="form-control" name="photos" id="upload" multiple accept="image/*" />
            </div>
            <div class="form-group">
                <label class="control-label">Photo 2</label>
                <input type="file" class="form-control" name="photos" />
            </div>
            <div class="form-group">
                <label class="control-label">Photo 3</label>
                <input type="file" class="form-control" name="photos" />
            </div>

            <div class="form-group">
                <input type="submit" value="Створити" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад до списку товарів</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync( "_ValidationScriptsPartial" );
    }

    <script type="text/javascript">
        $("#uploadPhotos").change(function () {
            if (this.files) {
                $.each(this.files, function (i, file) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $("input[name='photos']:last").after(
                            "<img src='" + e.target.result + "' width='150' class='img-thumbnail img-fluid' />"
                        );                        
                    }
                    reader.readAsDataURL(file);
                });
            }
        });
    </script>
}