@model TinyShop.Models.ViewModels.ProductViewModel;

@{
    ViewData["Title"] = "Новий товар";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Новий товар</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <component type="typeof(TinyShop.Areas.BlazorComponents.Pages.ProductForm)" render-mode="ServerPrerendered"
            param-Id="0"></component>
    </div>
</div>

<div>
    <a asp-action="Index">Назад до списку товарів</a>
</div>

@section Scripts {

}