@model TinyShop.Models.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Редагування товару";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Редагування товару</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <component type="typeof(TinyShop.Areas.BlazorComponents.Pages.ProductForm)" render-mode="ServerPrerendered" 
            param-Id="@Model.ProductId"></component>
    </div>
</div>

<div>
    <a asp-action="Index">Назад до списку товарів</a>
</div>

@section Scripts {

}
