@model TinyShop.Models.Product

@{
    ViewData["Title"] = "Зміна товару";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Зміна товару</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductGroupId" class="control-label"></label>
                <select asp-for="ProductGroupId" class="form-control" asp-items="ViewBag.ProductGroupId"></select>
                <span asp-validation-for="ProductGroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="16"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Фото 1</label>
                <input type="file" class="form-control" name="photos" />
            </div>
            <div class="form-group">
                <label class="control-label">Фото 2</label>
                <input type="file" class="form-control" name="photos" />
            </div>
            <div class="form-group">
                <label class="control-label">Фото 3</label>
                <input type="file" class="form-control" name="photos" />
            </div>

            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Зберегти" class="btn btn-primary" />
            </div>
        </form>
        @foreach ( var currentImage in Model.DescImages )
        {
            <a href="@Url.Action( "GetFileById", "Files", new { id = currentImage.Id } )">
                <img src="@Url.Action( "GetFileById", "Files", new { id = currentImage.Id } )" width="150" class="img-thumbnail img-fluid">
            </a>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Назад до списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
