@using TinyShop.Infrastructure;

<div class="">
    <a asp-controller="Cart" asp-action="Index" asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">

        @if (Model?.Lines.Count > 0)
        {
            <small class="navbar-text">
                <b>Кошик:</b>
                @Model?.ComputeTotalQuantity() @FormattingUtils.GetGoodSingleOrPlural(Model?.Lines.Count)
                @FormattingUtils.FormatPrice(Model?.ComputeTotalValue());
            </small>
        }
        else
        {
            <small class="navbar-text">
                <b>Кошик пустий</b>
            </small>
        }
        <span class="btn btn-sm btn-secondary navbar-btn"><i class="fa fa-shopping-cart"></i></span>
    </a>
</div>