@using TinyShop.Infrastructure;
@using TinyShop.Models.ViewModels;

@model CartViewModel;
@{
    ViewData["Title"] = "Кошик";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<component type="typeof(TinyShop.Areas.BlazorComponents.Pages.ShoppingCartTable)" render-mode="ServerPrerendered" />

<div class="text-center">
    <a class="btn btn-primary" asp-action="Index" asp-controller="Home">Продовжити покупки</a>
    <a class="btn btn-primary" asp-action="Checkout" asp-controller="Order">Оформити замовлення</a>
</div>

@section Scripts {
    <script src="~/js/cart.js"></script>
    <script src="~/js/spinEditProduct.js"></script>
}