@page "/editproduct/{Id:int}"
@using TinyShop.Data
@using TinyShop.Models

<h3>Edit Product</h3>

<EditForm Model="@product" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="name" @bind-Value="product.Name" />
    <InputNumber id="price" @bind-Value="product.Price" />

    <button type="submit">Save</button>
</EditForm>

@code {
    [Inject]
    public ShopContext? Context { get; set; }

    [Parameter]
    public int Id { get; set; }

    private Product? product;

    protected override async Task OnInitializedAsync()
    {
        product = await Context.Products.FindAsync(Id);
    }

    private async Task HandleValidSubmit()
    {
        Context?.Products.Update(product);
        await Context?.SaveChangesAsync();
    }
}
