@using TinyShop.Models.ViewModels;
@model OrderViewModel

<h2>Оформлення замовлення</h2>
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="Checkout" method="post">
    <div class="form-group">
        <label asp-for="TheOrder.TheCustomer.LastName" class="control-label"></label>
        <input asp-for="TheOrder.TheCustomer.LastName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="TheOrder.TheCustomer.FirstName" class="control-label"></label>
        <input asp-for="TheOrder.TheCustomer.FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="TheOrder.TheCustomer.MiddleName" class="control-label"></label>
        <input asp-for="TheOrder.TheCustomer.MiddleName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="TheOrder.TheCustomer.Phone" class="control-label"></label>
        <input asp-for="TheOrder.TheCustomer.Phone" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="TheOrder.TheCustomer.Email" class="control-label"></label>
        <input asp-for="TheOrder.TheCustomer.Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="TheOrder.TheDeliveryType.Name" class="control-label"></label>
        <select id="deliveryType" asp-for="TheOrder.TheDeliveryType.Name" class="form-control"
                asp-items='@new SelectList(Model.DeliveryTypes, "Id" , "Name")'></select>
    </div>
    <div id="regionContainer" class="form-group" hidden>
        <label asp-for="TheOrder.RegionId" class="control-label"></label>
        <select id="region" asp-for="TheOrder.RegionId" class="form-control"></select>
    </div>
    <div id="cityContainer" class="form-group" hidden>
        <label asp-for="TheOrder.CityId" class="control-label"></label>
        <select id="city" asp-for="TheOrder.CityId" class="form-control"></select>
    </div>
    <div id="warehouseContainer" class="form-group" hidden>
        <label asp-for="TheOrder.WarehouseId" class="control-label"></label>
        <select id="warehouse" asp-for="TheOrder.WarehouseId" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="TheOrder.ThePaymentType.Name" class="control-label"></label>
        <select id="paymentType" asp-for="TheOrder.ThePaymentType.Name" class="form-control"
                asp-items='@new SelectList(Model.PaymentTypes, "Id" , "Name")'></select>
    </div>
    <div class="form-group">
        <label asp-for="TheOrder.Comments" class="control-label"></label>
        <textarea rows="5" asp-for="TheOrder.Comments" class="form-control"></textarea>        
    </div>
    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Завершити" />
    </div>
</form>

@section Scripts {
    <script>
        $(document).ready(function () 
        {
            $("#deliveryType").change(function () 
            {
                var deliveryType = $("#deliveryType").val();
                if (deliveryType == @DeliveryType.NovaPoshtaWarehouseId) 
                {
                    showNovaPoshtaWarehouseControls();
                    getRegions(setDefaultRegion);                                       
                }
                else 
                {
                    hideNovaPoshtaWarehouseControls();
                }
            });
        });
        function hideNovaPoshtaWarehouseControls() 
        { 
            $("#regionContainer").attr("hidden", "hidden");
            $("#cityContainer").attr("hidden", "hidden");
            $("#warehouseContainer").attr("hidden", "hidden");
        }
        function showNovaPoshtaWarehouseControls() 
        { 
            $("#regionContainer").removeAttr("hidden");
            $("#cityContainer").removeAttr("hidden");
            $("#warehouseContainer").removeAttr("hidden");
        }
        function setDefaultRegion() 
        { 
            $("#region").val("@Order.NovaPoshtaDefaultRegionId");
        }
        function getRegions(afterDataLoadFunc) 
        { 
            var url = "/Order/GetRegions";
            $.getJSON(url, function (data) 
            {
                $("#region").empty();
                $.each(data, function (index, row) 
                {
                    $("#region").append("<option value='" + row.id + "'>" + row.name + "</option>");
                });            
                afterDataLoadFunc();
                getCities();
            });
        }
        function getCities() 
        {            
            var url = "/Order/GetCitiesByRegion/" + $("#region").val();
            $.getJSON(url, function (data) 
            {                
                $("#city").empty();
                $.each(data, function (index, row) 
                {
                    $("#city").append("<option value='" + row.id + "'>" + row.name + "</option>");
                });
                getWarehouses();
            });
        }
        function getWarehouses() 
        {            
            var url = "/Order/GetWarehousesByCity/" + $("#city").val();
            $.getJSON(url, function (data) 
            {
                $("#warehouse").empty();
                $.each(data, function (index, row) 
                {
                    $("#warehouse").append("<option value='" + row.id + "'>" + row.name + "</option>");
                });
            });
        }
        $(document).ready(function () 
        {            
            $("#region").change(getCities);
        });
        $(document).ready(function () 
        {         
            $("#city").change(getWarehouses);
        });
    </script>
}