@using TinyShop.Models.ViewModels;
@model OrderViewModel

<h2>Оформлення замовлення</h2>
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="Checkout" method="post">
    <div class="form-group">
        <label asp-for="TheCustomer.LastName" class="control-label"></label>
        <input asp-for="TheCustomer.LastName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="TheCustomer.FirstName" class="control-label"></label>
        <input asp-for="TheCustomer.FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="TheCustomer.MiddleName" class="control-label"></label>
        <input asp-for="TheCustomer.MiddleName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="TheCustomer.Phone" class="control-label"></label>
        <input asp-for="TheCustomer.Phone" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="TheCustomer.Email" class="control-label"></label>
        <input asp-for="TheCustomer.Email" class="form-control" />
    </div>
    <div class="form-group">               
        <label asp-for="DeliveryTypeId" class="control-label"></label>
        <select id="deliveryType" asp-for="DeliveryTypeId" class="form-control"
                asp-items='@new SelectList(Model.DeliveryTypes, "Id" , "Name")'></select>
    </div>
    <div id="regionContainer" class="form-group" hidden>
        <label asp-for="RegionId" class="control-label"></label>
        <select id="region" asp-for="RegionId" class="form-control"></select>
    </div>
    <div id="cityContainer" class="form-group" hidden>
        <label asp-for="CityId" class="control-label"></label>
        <select id="city" asp-for="CityId" class="form-control"></select>
    </div>
    <div id="warehouseContainer" class="form-group" hidden>
        <label asp-for="WarehouseId" class="control-label"></label>
        <select id="warehouse" asp-for="WarehouseId" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="PaymentTypeId" class="control-label"></label>
        <select id="paymentType" asp-for="PaymentTypeId" class="form-control"
                asp-items='@new SelectList(Model.PaymentTypes, "Id" , "Name")'></select>
    </div>
    <div class="form-group">
        <label asp-for="Comments" class="control-label"></label>
        <textarea rows="5" asp-for="Comments" class="form-control"></textarea>        
    </div>
    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Завершити" />
    </div>
</form>

@section Scripts {
    <script>
        $(document).ready(function () 
        {
            $("#deliveryType").change(function () 
            {
                var deliveryTypeId = $("#deliveryType").val();
                if (deliveryTypeId == @DeliveryType.NovaPoshtaWarehouseId) 
                {
                    showDeliveryControls();                    
                    getRegions(setDefaultRegion);
                }
                else 
                {
                    hideDeliveryControls();
                }
            });
        });
        function hideDeliveryControls() 
        { 
            $("#regionContainer").attr("hidden", "hidden");
            $("#cityContainer").attr("hidden", "hidden");
            $("#warehouseContainer").attr("hidden", "hidden");
        }
        function showDeliveryControls() 
        { 
            $("#regionContainer").removeAttr("hidden");
            $("#cityContainer").removeAttr("hidden");
            $("#warehouseContainer").removeAttr("hidden");
        }
        function setDefaultRegion(deliveryTypeId, afterDataLoadFunc) 
        { 
            var url = "/Order/GetDefaultRegionId/" + deliveryTypeId;
            $.get(url, function (data) 
            {
                $("#region").val(data);
                afterDataLoadFunc();
            });
        }
        function getRegions(afterDataLoadFunc) 
        { 
            var deliveryTypeId = $("#deliveryType").val();            
            var url = "/Order/GetRegions/" + deliveryTypeId;
            $.getJSON(url, function (data) 
            {
                $("#region").empty();
                $.each(data, function (index, row) 
                {
                    $("#region").append("<option value='" + row.id + "'>" + row.name + "</option>");
                });            
                afterDataLoadFunc(deliveryTypeId, getCities);
            });
        }
        function getCities()
        {            
            var deliveryTypeId = $("#deliveryType").val();            
            var regionId = $("#region").val();
            var url = "/Order/GetCitiesByRegion/" + deliveryTypeId + "/" + regionId;
            $.getJSON(url, function (data) 
            {   
                $("#city").empty();
                $.each(data, function (index, row) 
                {
                    $("#city").append("<option value='" + row.id + "'>" + row.name + "</option>");
                });
                getWarehouses();
            });
        }
        function getWarehouses() 
        {            
            var deliveryTypeId = $("#deliveryType").val();            
            var cityId = $("#city").val();
            var url = "/Order/GetWarehousesByCity/" + deliveryTypeId + "/" + cityId;
            $.getJSON(url, function (data) 
            {
                $("#warehouse").empty();
                $.each(data, function (index, row) 
                {
                    $("#warehouse").append("<option value='" + row.id + "'>" + row.name + "</option>");
                });
            });
        }
        $(document).ready(function () 
        {                        
            $("#region").change(getCities);
        });
        $(document).ready(function () 
        {         
            $("#city").change(getWarehouses);
        });
    </script>
}