@using TinyShop.Models.ViewModels;
@model OrderViewModel

<h2>Check out now</h2>
<p>Please enter your details, and we'll ship your goods right away!</p>
<form asp-action="Checkout" method="post">
    <h3>Ship to</h3>
    <div class="form-group">
        <label>First Name:</label><input asp-for="TheOrder.FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label>Last Name:</label><input asp-for="TheOrder.LastName" class="form-control" />
    </div>
    <div class="form-group">
        <label>Middle Name:</label><input asp-for="TheOrder.MiddleName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="TheOrder.RegionId" class="control-label"></label>
        <select id="region" asp-for="TheOrder.RegionId" class="form-control"
                asp-items='@new SelectList(Model.Regions, "Id" , "Name")'></select>
    </div>
    <div class="form-group">
        <label asp-for="TheOrder.CityId" class="control-label"></label>
        <select id="city" asp-for="TheOrder.CityId" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="TheOrder.WarehouseId" class="control-label"></label>
        <select id="warehouse" asp-for="TheOrder.WarehouseId" class="form-control"></select>
    </div>

</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#region").change(function () {
                var url = "/Order/GetCitiesByRegion/" + $("#region").val();
                $.getJSON(url, function (data) {                                        
                    $("#city").empty();
                    $.each(data, function (index, row) {                                                
                        $("#city").append("<option value='" + row.id + "'>" + row.name + "</option>");
                    });
                });
            });
        });
        $(document).ready(function () {
            $("#city").change(function () {
                var url = "/Order/GetWarehousesByCity/" + $("#city").val();
                $.getJSON(url, function (data) {
                    $("#warehouse").empty();
                    $.each(data, function (index, row) {
                        $("#warehouse").append("<option value='" + row.id + "'>" + row.name + "</option>");
                    });
                });
            });
        });
    </script>
}