@model TinyShop.Models.ViewModels.OrderViewModel

<div class="text-center">    
    <p>Дякуємо за замовлення @Model.OrderId</p>    
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Повернутись у магазин</a>
</div>