@model TinyShop.Models.ViewModels.OrderViewModel

<div class="text-center">    
    <p>Thanks for placing order @Model.TheOrder.Id</p>
    <p>We'll ship your goods as soon as possible.</p>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Return to Store</a>
</div>